@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  max-width: 1170px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  height: 100vh; }
  @media screen and (max-width: 767px) {
    body {
      margin: auto;
      max-width: 90%; } }
  @media screen and (max-width: 1200px) {
    body {
      margin: auto;
      max-width: 90%; } }

hr {
  border-top: 1px solid #E9ECEF;
  margin-top: 24px;
  margin-bottom: 24px; }

ul > li {
  list-style: none;
  line-height: 1.9em; }

.section__icon {
  width: 16px;
  margin-left: 5px; }

.navbar {
  width: 100%;
  margin: 5px 0 10px 0; }
  .navbar .navbar__contents {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    padding: 14px 2px;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.178);
    color: #505050; }
    .navbar .navbar__contents--left a {
      padding: 20px;
      text-decoration: none;
      color: #393E43;
      font-size: 14px; }
      @media screen and (max-width: 1200px) {
        .navbar .navbar__contents--left a {
          display: none; } }
    .navbar .navbar__contents--left .arrow {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      position: absolute;
      right: 20px;
      bottom: -24px;
      display: none; }
    .navbar .navbar__contents--left .active__link {
      color: #FF3200;
      font-weight: bold;
      border-bottom: 3px solid; }
    .navbar .navbar__contents--right {
      display: flex;
      align-items: center;
      justify-content: center; }
      .navbar .navbar__contents--right img {
        width: 34px;
        margin-right: 14px; }
      .navbar .navbar__contents--right button {
        border: none;
        width: 60px;
        background-color: transparent;
        cursor: pointer;
        font-size: 14px; }
        @media screen and (max-width: 1200px) {
          .navbar .navbar__contents--right button {
            display: none; } }
      .navbar .navbar__contents--right .navbar__signIn {
        border: 1px solid black;
        padding: 7px 14px;
        width: 74px;
        border-radius: 16px; }
      .navbar .navbar__contents--right .navbar__help::after {
        content: "⏷"; }
  .navbar__dropdown {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px -10px #000;
    color: #505050;
    margin-top: 24px;
    max-height: 0;
    overflow: hidden;
    transition: all .5s; }
    .navbar__dropdown p {
      padding: 15px 14px;
      display: flex;
      justify-content: space-between;
      margin: 0;
      transition: all .1s; }
      .navbar__dropdown p:hover {
        background: #FF3200;
        /* -webkit-transform: scale(1.05); */
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 30px -10px #000; }
  .navbar .arrow.gone {
    display: block; }
  .navbar .down {
    max-height: 250px; }

.body__container {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 30px;
  margin-top: 20px; }
  @media screen and (max-width: 767px) {
    .body__container {
      display: flex;
      flex-direction: column;
      overflow-x: hidden; } }
  @media screen and (max-width: 1200px) {
    .body__container {
      display: flex;
      flex-direction: column; } }
  .body__container .aside__body {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 1200px) {
      .body__container .aside__body {
        width: 100%;
        order: 2; } }
    .body__container .aside__body .aside__title {
      font-family: 'Varela Round', sans-serif;
      letter-spacing: 1px; }
    .body__container .aside__body .aside__descriptions {
      color: rgba(0, 0, 0, 0.514);
      margin: 16px 0 16px 0; }
    .body__container .aside__body .aside__button {
      width: 305px;
      padding: 14px;
      border-radius: 6px;
      border: 1px solid #0273dc;
      color: #0273dc;
      font-weight: bold;
      cursor: pointer;
      transition: 300ms;
      background-color: #f0f7fd;
      margin: 16px 0 16px 0; }
      .body__container .aside__body .aside__button:hover {
        background-color: #0273dc;
        color: aliceblue; }
      @media screen and (max-width: 1200px) {
        .body__container .aside__body .aside__button {
          width: 100%; } }
    @media screen and (max-width: 1200px) {
      .body__container .aside__body iframe {
        width: 100%; } }
  .body__container .section__body .section__title {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .body__container .section__body .section__title {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%; } }
    .body__container .section__body .section__title--left {
      display: flex;
      align-items: flex-start;
      flex-direction: column; }
      .body__container .section__body .section__title--left .section__title--top {
        display: flex;
        align-items: center;
        justify-content: center; }
        .body__container .section__body .section__title--left .section__title--top h1 {
          margin-right: 16px;
          font-size: 22px; }
        .body__container .section__body .section__title--left .section__title--top span {
          width: 20px; }
        .body__container .section__body .section__title--left .section__title--top .checked {
          color: #ffd900;
          padding: 3px;
          cursor: pointer; }
      .body__container .section__body .section__title--left .section__location {
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.514);
        margin: 0; }
        .body__container .section__body .section__title--left .section__location img {
          width: 16px;
          height: auto; }
    .body__container .section__body .section__title .section__title--right .section__button {
      width: 203px;
      height: 56px;
      background-color: #0273dc;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 0.91em;
      font-weight: 600;
      cursor: pointer;
      transition: 0.5s all; }
      .body__container .section__body .section__title .section__title--right .section__button:hover {
        background-color: #ffffff;
        color: black;
        border: 1px solid #0273dc; }
      @media screen and (max-width: 767px) {
        .body__container .section__body .section__title .section__title--right .section__button {
          background-color: #097038;
          width: 100%; } }
    @media screen and (max-width: 767px) {
      .body__container .section__body .section__title .section__title--right {
        width: 100%;
        margin-top: 10px; } }
    .body__container .section__body .section__title .section__title--left {
      display: flex;
      align-items: flex-start;
      flex-direction: column; }
  .body__container .section__body .section__slider .section__img {
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/23/4f/e9/90/exterior-view.jpg?w=1100&h=-1&s=1");
    height: 486px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 20px 0 20px 0; }
    @media screen and (max-width: 767px) {
      .body__container .section__body .section__slider .section__img {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%; } }
  .body__container .section__body .section__slider .section__description p {
    font-size: 18px;
    margin: 24px 0 24px 0;
    line-height: 27px; }
  .body__container .section__body .section__box--first {
    border: 1px solid #DEE2E6;
    border-radius: 6px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
    width: 865px;
    height: 342px; }
    @media screen and (max-width: 576px) {
      .body__container .section__body .section__box--first {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        width: 100%;
        height: 50%; } }
    @media screen and (max-width: 1200px) {
      .body__container .section__body .section__box--first {
        width: 100%; } }
    @media screen and (max-width: 767px) {
      .body__container .section__body .section__box--first {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        width: 100%;
        height: 50%; } }
    .body__container .section__body .section__box--first .section__box--img {
      background-image: url("https://i.pinimg.com/736x/ab/40/a6/ab40a656418ac519a958c5d4db2d7931.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 300px;
      height: 342px;
      border-radius: 6px 0 0 6px; }
      @media screen and (max-width: 767px) {
        .body__container .section__body .section__box--first .section__box--img {
          width: 100%;
          height: 200px;
          border-radius: 20px 20px 0 0; } }
    .body__container .section__body .section__box--first .section__box--contents {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 18px; }
      @media screen and (max-width: 767px) {
        .body__container .section__body .section__box--first .section__box--contents {
          padding: 10px;
          width: 100%; } }
      .body__container .section__body .section__box--first .section__box--contents .section__box__top {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 350px;
        margin-top: 10px; }
        @media screen and (max-width: 767px) {
          .body__container .section__body .section__box--first .section__box--contents .section__box__top {
            width: 100%;
            margin: auto; } }
        .body__container .section__body .section__box--first .section__box--contents .section__box__top span {
          background-color: #e8f7e9;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 10px;
          border-radius: 2px;
          color: #097038;
          font-size: 12px;
          font-weight: 600;
          margin: 6px 6px 6px 0; }
      .body__container .section__body .section__box--first .section__box--contents .section__box--list {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%; }
        @media screen and (max-width: 767px) {
          .body__container .section__body .section__box--first .section__box--contents .section__box--list {
            margin-top: 10px; } }
        .body__container .section__body .section__box--first .section__box--contents .section__box--list .section__box--detail {
          display: flex;
          flex-direction: column;
          align-items: flex-end; }
          .body__container .section__body .section__box--first .section__box--contents .section__box--list .section__box--detail h1 {
            color: #0273dc;
            font-size: 36px; }
          .body__container .section__body .section__box--first .section__box--contents .section__box--list .section__box--detail .overline__span {
            text-decoration: line-through;
            color: rgba(0, 0, 0, 0.432); }
      .body__container .section__body .section__box--first .section__box--contents .section__box--footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%; }
        @media screen and (max-width: 767px) {
          .body__container .section__body .section__box--first .section__box--contents .section__box--footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0; } }
        .body__container .section__body .section__box--first .section__box--contents .section__box--footer .footer__left span {
          display: flex;
          align-items: flex-end;
          color: #0273dc;
          font-weight: bolder;
          font-size: 13px;
          margin-top: 10px;
          cursor: pointer; }
        .body__container .section__body .section__box--first .section__box--contents .section__box--footer .footer__left p {
          color: #495057; }
        .body__container .section__body .section__box--first .section__box--contents .section__box--footer .footer__left img {
          margin-right: 6px; }
        .body__container .section__body .section__box--first .section__box--contents .section__box--footer .footer__left .trigger__icon {
          transform: rotate(3.142rad);
          width: 18px; }
        @media screen and (max-width: 767px) {
          .body__container .section__body .section__box--first .section__box--contents .section__box--footer .footer__left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            width: 100%; } }
        @media screen and (max-width: 767px) {
          .body__container .section__body .section__box--first .section__box--contents .section__box--footer .footer__right {
            width: 100%; } }
        .body__container .section__body .section__box--first .section__box--contents .section__box--footer .footer__right button {
          background-color: #0273dc;
          border: none;
          width: 193px;
          height: 56px;
          color: #ffffff;
          border-radius: 6px;
          font-size: 1rem;
          letter-spacing: 1px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center; }
          @media screen and (max-width: 767px) {
            .body__container .section__body .section__box--first .section__box--contents .section__box--footer .footer__right button {
              width: 100%;
              margin-top: 10px;
              border-radius: 0 20px 0px 20px; } }
        .body__container .section__body .section__box--first .section__box--contents .section__box--footer .footer__right img {
          margin-left: 5px;
          width: 24px; }
    .body__container .section__body .section__box--first .section__box--img2 {
      background-image: url("https://aff.bstatic.com/images/hotel/max1280x900/269/269163249.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 300px;
      height: 342px;
      border-radius: 6px 0 0 6px; }
      @media screen and (max-width: 767px) {
        .body__container .section__body .section__box--first .section__box--img2 {
          width: 100%;
          height: 200px;
          border-radius: 20px 20px 0 0; } }

.footer {
  margin-top: 20px; }
  .footer .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px; }
    .footer .footer__container li::before {
      content: "✔";
      margin: 10px; }
    @media screen and (max-width: 576px) {
      .footer .footer__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); } }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000071;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }
  .modal .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    flex-direction: column; }
    @media screen and (max-width: 767px) {
      .modal .modal__content {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 220px;
        width: 90%;
        margin: auto; } }
    .modal .modal__content .modal__close-button {
      width: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;
      background-color: lightgray;
      z-index: 999;
      position: absolute;
      top: 20px;
      right: 20px; }
      .modal .modal__content .modal__close-button:hover {
        background-color: darkgray; }
    .modal .modal__content .modal__slider {
      position: relative;
      width: 100%;
      height: 400px; }
      .modal .modal__content .modal__slider .slide {
        z-index: 1;
        position: absolute;
        width: 100%;
        clip-path: inset(0 100% 0 0); }
        .modal .modal__content .modal__slider .slide img {
          z-index: -9999;
          width: 100%; }
      .modal .modal__content .modal__slider .active {
        clip-path: inset(0 0 0 0);
        transition: 2s;
        transition-property: clip-path; }
      .modal .modal__content .modal__slider .modal__navigation {
        z-index: 2;
        position: absolute;
        display: flex;
        bottom: 0px;
        left: 50%;
        align-items: center;
        justify-content: center;
        transform: translateX(-50%); }
        .modal .modal__content .modal__slider .modal__navigation .btn {
          background: rgba(255, 255, 255, 0.5);
          width: 10px;
          height: 10px;
          margin: 3px;
          border-radius: 50%;
          cursor: pointer; }
        .modal .modal__content .modal__slider .modal__navigation .active {
          background: #FFFFFF;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          width: 21px;
          height: 10px;
          border-radius: 5px; }
    .modal .modal__content .modal__box {
      margin-top: 0;
      position: relative;
      width: 100%;
      height: 400px; }
      @media screen and (max-width: 767px) {
        .modal .modal__content .modal__box {
          display: none; } }
      .modal .modal__content .modal__box .modal__box--contents {
        top: 25px;
        position: relative;
        margin: 30px;
        width: 600px; }
        .modal .modal__content .modal__box .modal__box--contents hr {
          border-top: 1px solid rgba(0, 0, 0, 0.11);
          margin: 10px 0; }
        .modal .modal__content .modal__box .modal__box--contents h2 {
          margin-bottom: 10px; }
        .modal .modal__content .modal__box .modal__box--contents p {
          letter-spacing: 0.2px; }
        .modal .modal__content .modal__box .modal__box--contents .modal__part--one {
          display: flex;
          align-items: center;
          position: relative;
          margin-top: 15px;
          margin-bottom: 15px; }
          .modal .modal__content .modal__box .modal__box--contents .modal__part--one span {
            background-color: #e8f7e9;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            /* width: 189px; */
            height: 24px;
            border-radius: 2px;
            color: #097038;
            font-size: 12px;
            font-weight: 600;
            margin: 6px; }
          .modal .modal__content .modal__box .modal__box--contents .modal__part--one .little__icon {
            width: 16px;
            margin: 5px; }
        .modal .modal__content .modal__box .modal__box--contents .modal__part--two {
          display: grid;
          grid-template-columns: repeat(3, auto); }
          .modal .modal__content .modal__box .modal__box--contents .modal__part--two ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, fr); }
            .modal .modal__content .modal__box .modal__box--contents .modal__part--two ul li {
              font-size: 16px;
              color: #343A40; }
              .modal .modal__content .modal__box .modal__box--contents .modal__part--two ul li::before {
                content: "✔";
                margin: 10px;
                line-height: 25px; }
        .modal .modal__content .modal__box .modal__box--contents .modal__part--three {
          display: flex;
          align-items: flex-start;
          justify-content: space-between; }
          .modal .modal__content .modal__box .modal__box--contents .modal__part--three .modal__footer--left h1 {
            color: #0273DC;
            font-size: 36px;
            font-family: 'Varela Round', sans-serif; }
          .modal .modal__content .modal__box .modal__box--contents .modal__part--three .modal__footer--left p {
            color: #868E96; }
          .modal .modal__content .modal__box .modal__box--contents .modal__part--three .modal__footer--left .detail {
            width: 131px;
            height: 44px; }
            .modal .modal__content .modal__box .modal__box--contents .modal__part--three .modal__footer--left .detail h1 {
              color: #0273DC;
              font-size: 36px; }
          .modal .modal__content .modal__box .modal__box--contents .modal__part--three .modal__footer--right button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 56px;
            font-size: 1rem;
            background-color: #0273DC;
            color: #fff;
            border-radius: 6px;
            border: none;
            cursor: pointer; }
            .modal .modal__content .modal__box .modal__box--contents .modal__part--three .modal__footer--right button img {
              width: 20px;
              margin-left: 15px; }

.show-modal {
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }

@media screen and (min-width: 1200px) {
  .nav_icon img {
    display: none;
    width: 200px;
    background-color: #000; } }
